name: multi_circular_slider
description: A Flutter package for Android, iOS & Web which helps creating multi-layered animated circular progress bar which can help display multiple values in a single bar.
version: 1.0.0
homepage: https://github.com/mayurnile/multi_circular_slider.git

environment:
  sdk: ">=2.16.1 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:

